<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TongXin</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 min-h-screen font-sans">
    <div id="spa" class="space-y-4"></div>
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <%= javascript_include_tag "react-router-dom" %>
    <%= javascript_include_tag "posts" %>
    <%= javascript_include_tag "trending" %>
    <%= javascript_include_tag "videos" %>
    <%= javascript_include_tag "notifications" %>
    <%= javascript_include_tag "products" %>
    <%= javascript_include_tag "cart_view" %>
    <%= javascript_include_tag "post_detail" %>
    <%= javascript_include_tag "app_router" %>
  </body>
</html>
